@import url('fonts.css');

:root{
    --whiteClr: #fff;
    --blackClr: #000;
    --redClr: #FF0000;
    --Torch-Red: #EB0137;
    --Orange-Peel: #ff9800;
    --Scarlet-red: #ff1900 ;
    --Dark-Goldenrod : #b19f00 ;
    --Venetian-Red : #B90808 ;
    --Tyrian-Purple : #38001F ;
    --TundoraClr : #5c5c5c ;
    --font-size58 : 58px;
    --font-size50 : 50px;
    --font-size40 : 40px;
    --font-size26 : 26px;
    --font-size25 : 25px;
    --font-size21 : 21px;
    --font-size20 : 20px;
    --font-size19 : 19px;
    --font-size18 : 18px;
    --font-size17 : 17px;
    
    --primery-font: "Sarabun" , sans-serif ;
}
